.env
etc/
src/*.txt
src/region-reaper
src/*.log
src/*.log.*
storage/
templates/
fonts/
.ssh/
*.log
*.out
*.log.*
service
web-service
web-service.ERROR
web-service.INFO
web-service.WARNING
*.test.INFO
*.test.ERROR
srv-report.test.*